<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws" xsi:schemaLocation="http://www.springframework.org/schema/beans             http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">  
  <bean id="xipDefaultDS" class="com.alibaba.druid.pool.DruidDataSource"> 
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>  
    <property name="url" value="jdbc:mysql://localhost:3306/xjmanager?allowMultiQueries=true"/>  
    <property name="username" value="xjuser"/>  
    <property name="password" value="lCzd9geWAuAuJtLhpaG/J+d28H8KiMFAWopxXkYpMNdUai6Xe/LsPqMQeg5MIrmvtMa+hzycdRhWs29ZUPU1IQ=="/>  
    <property name="connectionProperties" value="config.decrypt=true"/>  
    <property name="filters" value="config"/>  
    <property name="maxActive" value="20"/>  
    <property name="initialSize" value="10"/>  
    <property name="poolPreparedStatements" value="false"/>  
    <property name="maxOpenPreparedStatements" value="200"/>  
    <property name="validationQuery" value="select 1 from dual"/>  
    <property name="testOnBorrow" value="true"/>  
    <property name="testOnReturn" value="false"/>  
    <property name="testWhileIdle" value="true"/>  
    <property name="timeBetweenEvictionRunsMillis" value="60000"/> 
  </bean> 
  
</beans>
